.container { 
  text-align: center;
}

input[type=text] {
  font-family: 'Roboto', cursive;
  font-size: 16px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
}

img { 
  height: 150px;
  cursor: pointer;
}

.loading-gif { 
  height: 50px;
}